div button{
    background-color: black;
    color: yellow;
    border: none;
  }
  
  button{
    border: 1px solid red;
  }
  
  body{
    background-color: blue;
    color: white;
    text-decoration: underline wavy red;
  }
  